langchain<0.3
langchain-community<0.3
langchain-core<0.3
langchain-text-splitters<0.3
langchain-openai
langchain_huggingface
langchain-google-genai
chromadb
sentence-transformers
pymupdf
python-dotenv
tiktoken
streamlit
pydantic
PyYAML
numpy
pandas
-e .